<!DOCTYPE html>
<html>
<head>
	<title>Flask Form Example</title>
</head>
<body>
    <a href={{ url_for('index') }}<h1>Home</h1></a>
	<h1>Links</h1>
    <ul>
        {% for file in files %}
        {% if file.endswith('.mp4') or file.endswith('.mkv') %}
            <li><a href="{{ url_for('video_feed', folder=folder, filename=file) }}">{{ file }} play</a></li>
        {% else %}
                <li><a href="/static/{{ folder }}/{{ file }}" download>document</a></li>
        {% endif %}
    {% endfor %}
    
    </ul>
    <a href="/static/crunchbang-11-20130506-i686.iso/crunchbang-11-20130506-i6867.iso">file</a>
</body>
</html>
